In [11]:
from riotwatcher import LolWatcher, ApiError
import pandas as pd
import csv

In [2]:
# global variables
api_key = "RGAPI-0059ebe4-def2-43bb-a666-34eb1f2ec69f"
watcher = LolWatcher(api_key, default_match_v5=True)
my_region = 'na1'

In [6]:
# get player name from csv
data = pd.read_csv ("matches.csv")
my_matches = data['id'].tolist()

In [12]:
participants = []
# fetch last match detail
for i in my_matches[0:5]:
    match_detail = watcher.match.by_id(region='AMERICAS', match_id = i)
    participants_row = {}
    # generate match information
    participants_row['gameId'] = match_detail['info']['gameId']
    participants_row['gameDuration'] = match_detail['info']['gameDuration']
    participants_row['gameVersion'] = match_detail['info']['gameVersion']
    participants_row['platformId'] = match_detail['info']['platformId']
    participants_row['season'] = match_detail['info']['mapId']
    # essential resources information
    if match_detail['info']['teams'][0]['win'] == True:
        participants_row['winner'] = 1
    else:
        participants_row['winner'] = 2
    # the first baron
    if match_detail['info']['teams'][0]['objectives']['baron']['first'] == True:
        participants_row['1st_baron'] = 1
    elif match_detail['info']['teams'][1]['objectives']['baron']['first'] == True:
        participants_row['1st_baron'] = 2
    else:
        participants_row['1st_baron'] = 0

    # the first dragon    
    if match_detail['info']['teams'][0]['objectives']['dragon']['first'] == True:
        participants_row['1st_dragon'] = 1
    else:
        participants_row['1st_dragon'] = 2
    # the first inhibitor
    if match_detail['info']['teams'][0]['objectives']['inhibitor']['first'] == True:
        participants_row['1st_inhibitor'] = 1
    else:
        participants_row['1st_inhibitor'] = 2
    # the first riftHerald 
    if match_detail['info']['teams'][0]['objectives']['riftHerald']['first'] == True:
        participants_row['1st_riftHerald'] = 1
    else:
        participants_row['1st_riftHerald'] = 2
    # the first tower   
    if match_detail['info']['teams'][0]['objectives']['tower']['first'] == True:
        participants_row['1st_tower'] = 1
    else:
        participants_row['1st_tower'] = 2
    participants.append(participants_row)
df = pd.DataFrame(participants)
df

,gameId,gameDuration,gameVersion,platformId,season,winner,1st_baron,1st_dragon,1st_inhibitor,1st_riftHerald,1st_tower
0,4077870121,1331,11.21.403.3002,NA1,11,2,2,1,2,1,2
1,4077845177,1989,11.21.403.3002,NA1,11,1,1,2,1,2,2
2,4077830635,1966,11.21.403.3002,NA1,11,1,1,2,1,1,1
3,4075756112,1424,11.20.400.7328,NA1,11,1,1,2,1,1,1
4,4075751068,1773,11.20.400.7328,NA1,11,2,1,2,1,2,2

In [13]:
df.to_csv('match_information.csv')

'gameId,gameDuration,gameVersion,platformId,season,winner,1st_baron,1st_dragon,1st_inhibitor,1st_riftHerald,1st_tower\r\n4077870121,1331,11.21.403.3002,NA1,11,2,2,1,2,1,2\r\n4077845177,1989,11.21.403.3002,NA1,11,1,1,2,1,2,2\r\n4077830635,1966,11.21.403.3002,NA1,11,1,1,2,1,1,1\r\n4075756112,1424,11.20.400.7328,NA1,11,1,1,2,1,1,1\r\n4075751068,1773,11.20.400.7328,NA1,11,2,1,2,1,2,2\r\n'