In [1]:
from riotwatcher import LolWatcher, ApiError
import pandas as pd
import csv
import playerinformation

In [2]:
# global variables
api_key = "RGAPI-aba1c72d-67fc-41ff-8232-9e727e34f9de"
watcher = LolWatcher(api_key)
my_region = 'AMERICAS'

In [3]:
# get player name from csv
data = pd.read_csv ("NA_matches.csv")
my_matches = data['id'].tolist()

In [4]:
playerinformation.get_information(my_matches, watcher, 0, 798, "NA_match_information.csv")

,gameId,gameDuration,gameVersion,platformId,season,winner,1st_baron,1st_dragon,1st_inhibitor,1st_riftHerald,...,t2_baron_kills,t2_champ_kills,t2_dragon_kills,t2_inhibitor_kills,t2_riftHerald_kills,t2_tower_kills,t2_team_assists,t2_team_gold_earn,t2_team_gold_spen,t2_team_kda
0,4093005308,2119,11.22.406.3587,NA1,11,2,2,1,2,1,...,1,43,4,2,0,9,73,72962,66900,3.314286
1,4075410742,1931,11.20.400.7328,NA1,11,1,1,2,1,1,...,0,28,2,0,0,4,43,55037,54208,1.613636
2,3905301824,1065734,11.10.374.9538,NA1,11,1,0,1,1,1,...,0,5,0,0,0,0,5,24918,19600,0.526316
3,3904688211,2277873,11.10.374.9538,NA1,11,1,1,1,1,1,...,0,32,2,0,0,3,42,63978,62635,2.176471
4,4092696441,2073,11.22.406.3587,NA1,11,2,1,2,1,2,...,1,54,4,2,2,10,69,75833,67250,2.196429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4067556134,702,11.20.400.7328,NA1,11,1,0,2,0,2,...,0,3,1,0,1,0,2,17301,14875,1.000000
96,3911072357,685893,11.10.374.9538,NA1,11,1,0,0,1,1,...,0,2,0,0,0,0,1,13612,11335,0.214286
97,3911039621,194875,11.10.374.9538,NA1,11,2,0,0,0,0,...,0,0,0,0,0,0,0,4671,2500,0.000000
98,4092683793,2109,11.22.406.3587,NA1,11,2,1,2,2,1,...,0,48,4,2,1,9,75,67119,71478,2.795455
99,4092627635,1970,11.22.406.3587,NA1,11,1,1,1,1,1,...,0,36,0,0,0,1,52,56450,54090,2.095238